<div class="container">

  <div class="row">
    <div class="col">
      <h1>{{moveName?.name}}</h1>
      <div class="row py-4">
        <div class="d-flex flex-column">
          <div class="stats-item">
            <strong>Tipo: </strong> {{move?.pp}}
          </div>
          <div class="stats-item">
            <strong>PP: </strong> {{move?.pp}}
          </div>
          <div class="stats-item">
            <strong>Prioridad: </strong> {{move?.priority}}
          </div>
          <div class="stats-item">
            <strong>Poder: </strong> {{move?.power}}
          </div>
          <div class="stats-item">
            <strong>Clase de daño: </strong> {{move?.damage_class?.name  }}
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row small-items">
    <div *ngIf="move?.learned_by_pokemon" class="row py-4">
      <div class="col-12">
        <h2 class="section-title mb-4">
          Pokemon que pueden aprenderlo
        </h2>
      </div>
      <div class="row">
          <div class="col-4 col-sm-3 col-md-2 mb-3" *ngFor="let pokemon of move?.learned_by_pokemon">
            <pokemon-item [pokemonResult]="pokemon" ></pokemon-item>
          </div>
      </div>
    </div>
  </div>
</div>
