<div class="container">
  <h3>Pokemon</h3>
  <div class="row">
    <div class="col">
      <h1>{{pokemon?.name | titlecase}}</h1>
      <p *ngIf="description">{{description}}</p>
      <div *ngIf="pokemon?.stats" class="row py-4">
        <div class="d-flex flex-column">
          <div class="stats-item" *ngFor="let stat of pokemon?.stats">
            <strong>{{stat.stat.name | titlecase}}</strong> {{stat.base_stat}}
          </div>
          <div class="stats-item">
            <strong>base_happiness</strong> {{specie?.base_happiness}}
          </div>
          <div class="stats-item">
            <strong>capture_rate</strong> {{specie?.capture_rate}}
          </div>
          <div class="stats-item">
            <strong>Habitat</strong> {{specie?.habitat?.name | titlecase}}
          </div>
        </div>
      </div>
      <div *ngIf="pokemon?.types" class="d-flex flex-row">
        <span *ngFor="let type of pokemon?.types" class="badge text-bg-primary me-1">{{type.type.name |
          titlecase}}</span>
      </div>
    </div>
    <div class="col-5">
      <img class="w-100" [src]="pokemonImg" [alt]="pokemon?.name">
    </div>
  </div>

  <div *ngIf="pokemon?.abilities" class="row py-4">
    <div class="col-12">
      <h2 class="section-title mb-4">
        Hábilidades
      </h2>
    </div>
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ability of pokemon?.abilities">
          <a [routerLink]="['/ability', ability.ability.name]">{{ability.slot}} - {{ability.ability.name | titlecase}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf="pokemon?.moves" class="row py-4">
    <div class="col-12">
      <h2 class="section-title mb-4">
        Movimientos
      </h2>
    </div>
    <div class="col-12">
      <ul class="list-group">
        <a class="list-group-item" *ngFor="let move of pokemon?.moves"
          [routerLink]="['/move', move.move.name]">{{move.move.name | titlecase}}</a>
      </ul>
    </div>
  </div>


</div>
