/* You can add global styles to this file, and also import other style files */

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
  margin: 10px;
}
.small-items{
  h3{
    font-size: 1rem;
  }
}

.list-group-item,
.pagination{
  a,
  .page-link{
    color: inherit;
    text-decoration: none;
  }
}

.list-group-item,
.pagination{
  a{
    cursor: pointer;
  }
}
.pagination-container{
  grid-column: 4 span;
  text-align: center;
  margin-top: 50px;
  .pagination{
    justify-content: center;
  }
}
